/*****General Styles *****/
.flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .full-height {
    height: 100%;
  }
  
  /***** Styles *****/
  
  html {
    height: 100vh;
    width: 100%;
  }
  
  body {
    background-color: #d8a7d8;
    color: black;
  
    font-family: "Rubik", serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }

  main {
    flex-direction: column;
    gap: 3%;
  }

  .box-container {
    height: 100px;
    background-color: rgb(55, 165, 208);
  }

  .box {
    background-color: white;
    height: 90px;
    width: 90px;
    left: 0px;
    border-radius: 5%;
    position: absolute;
    transition: left 1s, background-color 1s;
  
  }

  button {
    font-family: "Rubik", serif;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
  }

  .left {
    left: 0px;
    background-color: rgb(215, 155, 155); 
  }

  .right {
    left: calc(100vw - 100px);
    background-color: rgb(128, 0, 128);
  }